<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="../../assets/profile-image.png" alt="profile picture" width="256"
                class="rounded-circle">
                <p>Description</p>
            </div>
        </div>

        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Project Preview</h2>
            </div>
        </div>
    </div>
</div>
